@import "http://fonts.googleapis.com/css?family=Lato|Oswald:400.css";
@import "partials/mixins";
@import "partials/settings";
@import "partials/reset";

body {
  background-image: url('/assets/bg.jpg');
  @media #{$small-only}{    
    background-color: $red;
  }
}

.logo_container{
  background-color: $white;
  @media #{$medium-up}{
    background-image: url('/assets/header_bg.svg');
    background-repeat: no-repeat;
    background-position: center; 
  }
}

h1{
  background-image: url('/assets/logo.svg');
  background-repeat: no-repeat;
  @media #{$small-only}{
    float: left;
    width: 80%;
    height: 64px;
    background-size: contains;
    margin: auto;
  }
  @media #{$medium-up}{
    height: 64px;
    background-position: center;
  }
}

.plus{
  @media #{$small-only}{
    @include article_title($lato_font, 30px, $red, 400);
    text-align: center;
    height: 30px;
    width: 30px;
    float: right;
    border: solid 2px $orange;
    margin: 10px 10px;
    &:hover{
      background-color: $orange;
    }
  }
  @media #{$medium-up}{
    @include article_title($lato_font, 30px, $red, 400);
    text-align: center;
    height: 30px;
    width: 30px;
    border: solid 2px $orange;
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    &:hover{
      background-color: $orange;
    }
  }
}

ul.main_nav{
  background-color: $darkgrey;
  width: 100%; 
  @media #{$medium-up}{
    @include article_title($oswald_font, 9px, $grey, 400);
    width: 100%;
    text-align: center;
    margin:0;
    padding:0;
    height: 45px;
  }
}


ul.main_nav li{
  display: inline-block;
  @media #{$small-only}{
    width: 33%;
    box-sizing: border-box;
  }
  @media #{$medium-up}{
    margin-top: 15px;
  }
}

//bullets
ul.authored li:before{
  @media #{$medium-up}{
    content: " ";
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: $grey;
    border-radius: 100%;
    position: relative;
    top: -4px;
    margin-right: 8px;
    margin-left: 8px;
  }
}

ul.main_nav li:before{
  @media #{$medium-up}{
    content: " ";
    width: 4px;
    height: 4px;
    display: inline-block;
    background-color: $grey;
    border-radius: 100%;
    position: relative;
    top: -4px;
    margin-right: 8px;
    margin-left: 8px;
  }
}

ul > li:first-child:before{
  @media #{$medium-up}{
    display: none;
  }
}

ul.main_nav li a{
  text-transform: uppercase;
  text-decoration: none;
  @include article_title($oswald_font, 16px, $grey, 400);
  @media #{$small-only}{
    display: block;
    text-align: center;
    height: 45px;
    line-height: 45px;
    background-color: $darkgrey;
    border-right: solid 1px $grey;
  }
  @media #{$medium-up}{
    letter-spacing: 1px;
  }
}

ul.main_nav li a:hover{
  @media #{$medium-up}{
    letter-spacing: 1px;
    color: $orange;
  }
}

//CENTERED div size
.container{
  // background-color: blue;
  margin: auto;
  @media #{$medium-up}{
    max-width: 690px;
    padding-top: 45px;   
  }
}

.content_container{
  background-color: $white;
  @media #{$small-only}{
    margin: 10px;
    padding: 20px;
  }
  @media #{$medium-up}{
    border: solid 5px $white;
    float: left;    
    // width: 48%;
    width: 325px;
    box-sizing: border-box;
    display: inline-block;
    height: 400px;
    margin: 10px;
    padding: 10px;
    background-color: $white;
    &:hover{
      border: solid 5px $orange;
    }
    &:nth-child(even){
      float: left;
      width: 325px;
      height: 400px;
      display: inline-block;
      box-sizing: border-box;
    }
  }
}

.content_container .content_image{
    background-image: url("http://placekitten.com/g/410/250");
    background-size: cover;
  @media #{$small-only}{
    height: 250px;
  }
  @media #{$medium-up}{
    // background-size: cover;
    height: 165px;
    width: 100%;
  }
}

.content_container .title{
  margin-top: 10px;
  letter-spacing: .5px;
  @media #{$small-only}{
    @include article_title($oswald_font, 22px, $darkgrey, 400);
    line-height: 30px;
  }
  @media #{$medium-up}{
    @include article_title($oswald_font, 18px, $darkgrey, 400);
    line-height: 22px;
    max-height: 44px;
    overflow: hidden;
  }
  &:hover{
    @media #{$medium-only}{
      color: $red;
    }
  }
}

.content_container .info ul li{
  @include article_title($lato_font, 14px, $grey, 400);
  // ::before &bull;
  display: inline-block;
  margin-top: 5px;
}

.content_container p{
  @include article_title($lato_font, 15px, $darkgrey, 400);
  text-align: left;
  line-height: 20px;
  letter-spacing: .5px;
  margin-top: 10px;
  @media #{$medium-up}{
    max-height: 100px;
    overflow: hidden;
  }
}

footer{
  @media #{$medium-up}{
    background-color: $darkgrey;
    height: 50px;
    margin-top: 40px;
  } 
}

footer .footer_container{
  @media #{$medium-up}{
    margin: auto;
    width: 60px;
  }
}

footer .facebook{
  @media #{$medium-up}{
    background-image: url('/assets/facebook_grey.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    float: left;
    margin-top: 15px;
  }
  &:hover{
    background-image: url('/assets/facebook_orange.svg');
  }
}

footer .instaspam{
  @media #{$medium-up}{
    background-image: url('/assets/instagram_grey.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    float: left;
    margin-top: 15px;
  }
  &:hover{
    background-image: url('/assets/instagram_orange.svg');
  } 
}


