//fonts
$lato_font: "Lato", Helvetica, Arial, sans-serif;
$oswald_font: "Oswald", Helvetica, Arial, sans-serif;

//colors
$black: #000;
$grey: #818285;
$darkgrey: #3A3A3C;
$red: #BE3E2B;
$orange: #FC7E5A;
