@import url(http://fonts.googleapis.com/css?family=Lato|Oswald:400.css);
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

body {
  background-image: url('/assets/bg.jpg'); }
  @media only screen and (max-width:640px) {
    body {
      background-color: #BE3E2B; } }

.logo_container {
  background-color: #FFF; }

h1 {
  background-image: url('/assets/logo.svg');
  background-repeat: no-repeat; }
  @media only screen and (max-width:640px) {
    h1 {
      float: left;
      width: 80%;
      height: 64px;
      background-size: contains;
      margin: auto; } }
  @media only screen and (min-width:641px) and (max-width:960px) {
    h1 {
      height: 64px;
      margin: auto; } }

@media only screen and (max-width:640px) {
  .plus {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 30px;
    color: #BE3E2B;
    font-weight: 400;
    height: 30px;
    width: 30px;
    float: right;
    border: solid 2px #FC7E5A;
    margin: 10px 10px;
    text-align: center; }
    .plus:hover {
      background-color: #FC7E5A; } }
@media only screen and (min-width:641px) and (max-width:960px) {
  .plus {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 30px;
    color: #BE3E2B;
    font-weight: 400;
    height: 30px;
    width: 30px;
    border: solid 2px #FC7E5A;
    position: absolute;
    top: 15px;
    right: 15px;
    display: block; }
    .plus:hover {
      background-color: #FC7E5A; } }

ul.main_nav {
  background-color: #3A3A3C; }
  @media only screen and (max-width:640px) {
    ul.main_nav {
      width: 100%; } }

ul.main_nav li {
  display: inline-block; }
  @media only screen and (max-width:640px) {
    ul.main_nav li {
      width: 33%;
      box-sizing: border-box; } }

@media only screen and (max-width:640px) {
  ul.main_nav li a {
    font-family: "Oswald", Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 16px;
    color: #818285;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 45px;
    line-height: 45px;
    background-color: #3A3A3C;
    border-right: solid 1px #818285; } }

.container {
  max-width: 1000px;
  padding-top: 45px;
  margin: auto; }

.content_container {
  background-color: #FFF;
  margin: 10px;
  padding: 20px; }
  @media only screen and (max-width:640px) {
    .content_container {
      margin: 10px;
      padding: 20px; } }
  @media only screen and (min-width:641px) {
    .content_container {
      float: left;
      width: 325px;
      box-sizing: border-box;
      display: inline-block;
      height: 400px;
      background-color: #FFF; }
      .content_container:nth-child(even) {
        float: left;
        width: 325px;
        display: inline-block;
        box-sizing: border-box; } }

@media only screen and (max-width:640px) {
  .content_container .pug_image {
    background-image: url("http://placekitten.com/g/410/250");
    background-size: cover;
    height: 250px; } }
@media only screen and (min-width:641px) and (max-width:960px) {
  .content_container .pug_image {
    background-image: url("http://placekitten.com/g/410/250");
    background-size: cover;
    height: 165px;
    width: 275px; } }

.content_container .title {
  line-height: 30px;
  padding-top: 10px;
  letter-spacing: .5px; }
  @media only screen and (max-width:640px) {
    .content_container .title {
      font-family: "Oswald", Helvetica, Arial, sans-serif;
      text-align: left;
      font-size: 22px;
      color: #3A3A3C;
      font-weight: 400; } }
  @media only screen and (min-width:641px) and (max-width:960px) {
    .content_container .title {
      font-family: "Oswald", Helvetica, Arial, sans-serif;
      text-align: left;
      font-size: 18px;
      color: #3A3A3C;
      font-weight: 400; } }

.content_container .info ul li {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 14px;
  color: #818285;
  font-weight: 400;
  display: inline-block;
  padding-top: 5px; }

.content_container p {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  text-align: left;
  font-size: 15px;
  color: #3A3A3C;
  font-weight: 400;
  text-align: left;
  line-height: 20px;
  letter-spacing: .5px;
  padding-top: 10px; }

@media only screen and (min-width:641px) {
  footer {
    background-color: #3A3A3C;
    height: 50px;
    margin-top: 40px; } }

@media only screen and (min-width:641px) {
  footer .facebook {
    background-image: url('/assets/facebook_grey.svg');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: auto;
    padding-right: 10px; } }
